name: Metrics
on:
  schedule: [{cron: "0 * * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: AryaXDG
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Kolkata
          filename: github-metrics.svg

          plugin_achievements: yes
          plugin_achievements_display: compact
          plugin_achievements_limit: 5

          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_threshold: 2%

          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
